In [1]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'], 
        'Age': [25, 30, 22, 35, 28], 
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'], 
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)
print(df)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [2]:
# Accessing Columns From DataFrame
df["Name"]

0       John
1      Alice
2        Bob
3        Eve
4    Charlie
Name: Name, dtype: object

In [3]:
# Accessing Rows by Index
df.loc[2]

Name        Bob
Age          22
Gender     Male
Salary    40000
Name: 2, dtype: object

In [6]:
# Accessing Multiple Rows or Columns
df.loc[0:2, ['Name', 'Age']]

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [10]:
 # Accessing Rows Based on Conditions
df[df['Age'] > 25]

      Name  Age  Gender  Salary
1    Alice   30  Female   55000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [11]:
# Accessing Specific Cells with at and ia
df.at[2, 'Salary']

40000