In [1]:
import pandas as pd

In [2]:
# creating dataframe from the list
fruits = ["apple", "banana", "orange",  "mango"]
pd.DataFrame(fruits)

        0
0   apple
1  banana
2  orange
3   mango

In [6]:
# Creating DataFrame from dict of Numpy Array
fruits = [[1,2,3,4],["apple", "banana", "orange",  "mango"],["cop1","cop2","cop3","cop4"]]
pd.DataFrame(fruits, columns=['A','B','C','D'])

       A       B       C      D
0      1       2       3      4
1  apple  banana  orange  mango
2   cop1    cop2    cop3   cop4

In [ ]:
# Creating a DataFrame from a List of Dictionaries  
Organics = {
    fruits:["apple", "banana", "orange",  "mango"],
    vegetable: ["ginger", "garlic","pumpkin","spinich"]
           }
pd.DataFrame(fruits)