In [1]:
import pandas as pd
import numpy as np

data = {'Names': ['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan, 'Pratap'],
        'City': ['Delhi', 'Mumbai', 'Kolkata', 'Delhi', 'Chennai', 'Bangalore', 'Hyderabad']}

df = pd.DataFrame(data)
print(df)

      Names       City
0   Gulshan      Delhi
1  Shashank     Mumbai
2     Bablu    Kolkata
3  Abhishek      Delhi
4     Anand    Chennai
5       NaN  Bangalore
6    Pratap  Hyderabad

In [6]:
# Change Column Datatype in Pandas
print(df.astype('string'))

      Names       City
0   Gulshan      Delhi
1  Shashank     Mumbai
2     Bablu    Kolkata
3  Abhishek      Delhi
4     Anand    Chennai
5      <NA>  Bangalore
6    Pratap  Hyderabad

In [7]:
# String Manipulations in Pandas
pd.DataFrame(data)

      Names       City
0   Gulshan      Delhi
1  Shashank     Mumbai
2     Bablu    Kolkata
3  Abhishek      Delhi
4     Anand    Chennai
5       NaN  Bangalore
6    Pratap  Hyderabad

In [8]:
print(df['Names'].str.lower())

0     gulshan
1    shashank
2       bablu
3    abhishek
4       anand
5         NaN
6      pratap
Name: Names, dtype: object

In [9]:
print(df['Names'].str.upper())

0     GULSHAN
1    SHASHANK
2       BABLU
3    ABHISHEK
4       ANAND
5         NaN
6      PRATAP
Name: Names, dtype: object

In [10]:
print(df['Names'].str.strip())

0     Gulshan
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5         NaN
6      Pratap
Name: Names, dtype: object

In [11]:
df['Split_Names'] = df['Names'].str.split('a')
print(df[['Names', 'Split_Names']])

      Names   Split_Names
0   Gulshan    [Gulsh, n]
1  Shashank  [Sh, sh, nk]
2     Bablu      [B, blu]
3  Abhishek    [Abhishek]
4     Anand      [An, nd]
5       NaN           NaN
6    Pratap    [Pr, t, p]

In [12]:
print(df['Names'].str.len())

0    7.0
1    8.0
2    5.0
3    8.0
4    5.0
5    NaN
6    6.0
Name: Names, dtype: float64

In [13]:
print(df)

print("\nafter using cat:")
print(df['Names'].str.cat(sep=', '))

      Names       City   Split_Names
0   Gulshan      Delhi    [Gulsh, n]
1  Shashank     Mumbai  [Sh, sh, nk]
2     Bablu    Kolkata      [B, blu]
3  Abhishek      Delhi    [Abhishek]
4     Anand    Chennai      [An, nd]
5       NaN  Bangalore           NaN
6    Pratap  Hyderabad    [Pr, t, p]

after using cat:
Gulshan, Shashank, Bablu, Abhishek, Anand, Pratap

In [14]:
print(df['City'].str.get_dummies())

   Bangalore  Chennai  Delhi  Hyderabad  Kolkata  Mumbai
0          0        0      1          0        0       0
1          0        0      0          0        0       1
2          0        0      0          0        1       0
3          0        0      1          0        0       0
4          0        1      0          0        0       0
5          1        0      0          0        0       0
6          0        0      0          1        0       0

In [15]:
print(df['Names'].str.startswith('G'))

0     True
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [16]:
print(df['Names'].str.endswith('h'))

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [17]:
print(df['Names'].str.replace('Gulshan', 'Gaurav'))

0      Gaurav
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5         NaN
6      Pratap
Name: Names, dtype: object

In [18]:
print(df['Names'].str.repeat(2))

0      GulshanGulshan
1    ShashankShashank
2          BabluBablu
3    AbhishekAbhishek
4          AnandAnand
5                 NaN
6        PratapPratap
Name: Names, dtype: object

In [19]:
print(df['Names'].str.count('a'))

0    1.0
1    2.0
2    1.0
3    0.0
4    1.0
5    NaN
6    2.0
Name: Names, dtype: float64

In [20]:
print(df['Names'].str.find('a'))

0    5.0
1    2.0
2    1.0
3   -1.0
4    2.0
5    NaN
6    2.0
Name: Names, dtype: float64

In [21]:
print(df['Names'].str.findall('a'))

0       [a]
1    [a, a]
2       [a]
3        []
4       [a]
5       NaN
6    [a, a]
Name: Names, dtype: object

In [22]:
print(df['Names'].str.islower())

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [23]:
print(df['Names'].str.isupper())

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [24]:
print(df['Names'].str.isnumeric())

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: Names, dtype: object

In [25]:
print(df['Names'].str.swapcase())

0     gULSHAN
1    sHASHANK
2       bABLU
3    aBHISHEK
4       aNAND
5         NaN
6      pRATAP
Name: Names, dtype: object