In [1]:
# Arithmetic Operations on Series
import pandas as pd
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Adding the two Series
result = s1 + s2
print(result)

a    11
b    22
c    33
dtype: int64

In [2]:
# Comparison Operations on Series
s1 = pd.Series([10, 20, 30])
s2 = pd.Series([10, 25, 30])

# Comparing the two Series
result = s1 == s2
print(result)

0     True
1    False
2     True
dtype: bool

In [3]:
# Subtracting DataFrames
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Subtracting the DataFrames
df1 - df2

    A   B
0   9  36
1  18  45
2  27  54

In [4]:
# Checking Greater Than
pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [5, 15, 35], 'B': [30, 60, 55]})

# Checking if elements of df1 are greater than df2
df1 > df2

       A      B
0   True   True
1   True  False
2  False   True

In [5]:
# Logical AND on Series
s1 = pd.Series([True, False, True])
s2 = pd.Series([False, False, True])

# Applying logical AND
s1 & s2

0    False
1    False
2     True
dtype: bool

In [7]:
# Handling Missing Data in Binary Operations
df1 = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]})
df2 = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})

# Adding the DataFrames
df1 + df2

     A     B
0  2.0   NaN
1  NaN   NaN
2  NaN  12.0